html,
body {
  height: 100%;
}

html {
	font-size: 10px;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}
@font-face {
	font-family: "CQ Mono"; /* Имя шрифта */
	src: url('../fonts/CQ Mono.ttf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.content {
		flex: 1 0 auto;
	}
	.footer {
		flex: 0 0 auto;
	}
}
h1 {
	font-family: "CQ Mono";
	font-size: 5.4rem;
	line-height: 130.04%;
	text-transform: uppercase;
	color: #FFFFFF;
}
h2 {
	font-family: "CQ Mono";
	font-size: 3.6rem;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;
	color: #0687B3;
	span {
		color: #F54E60;
	}
	@media (max-width: 400px) {
		font-size: 2.6rem;
	}
}
section {
	padding-bottom: 60px;
}
.description__short {
	font-size: 1.8rem;
	line-height: 115%;
	color: #04183D;
}
p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 150%;
	/* or 24px */


	color: #000000;
}
@media (max-width: 991px) {
	h1 {
		font-size: 3.4rem;
	}	
}
@media (max-width: 360px) {
	h1 {
		font-size: 3rem;
	}
}