.form_bg {
	background: url("../img/form.jpg") no-repeat;
	height: 681px;
}
.form {
	
	
	form {
		background: #FFFFFF;
		border-radius: 10px;
		padding: 35px;
		h2 {
			font-size: 2.8rem;
			line-height: 120%;
			/* or 34px */

			text-align: center;
			text-transform: uppercase;
		}
	}
	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: none;
		border: 1px solid #000;
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../img/checked.svg") no-repeat;
	}
	.form__info {
		max-width: 180px;
		font-size: 1.6rem;
		line-height: 120%;
		color: #33302E;
		text-decoration: underline;
		&.active {
			color: #000867;
		}
	}
	p.form__info {
		font-size: 1.6rem;
		line-height: 120%;
		color: #33302E;
		text-decoration: none;
	}
}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
a {
	font-size: 1.4rem;
	line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
input {
	background: #B3F1F6;
	border: none;
	padding: 10px 24px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 120%;
	color: #0687B3;
	width: 100%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
	border-radius: 100px;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #0687B3;
	} 
	&::-moz-placeholder {
		color: #0687B3;
	}
}
textarea {
	background:#B3F1F6;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #0687B3;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #0687B3;
	} 
	&::-moz-placeholder {
		color: #0687B3;
	}
}
