$color: #2194E0;

.btn {
	background: linear-gradient(90deg, #5AF0FF 0%, #5AF0FF 0.01%, #1070AE 100%);
	box-shadow: 0px 4px 10px #5AF0FF;
	border-radius: 100px;
	border: none;
	box-sizing: border-box;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 115%;
	padding: 15px 0;
	color: #FFFFFF;
	width: 200px;
	display: flex;
	justify-content: center;
	text-align: center;
	transition: all 1s;
	background-size: 200% 200%;
	&:hover {
	}
	&.btn_red {
		padding: unset;
		box-shadow: unset;
		height: 54px;
		width: 270px;
		background: linear-gradient(180deg, #C4C4C4 0%, #F9909C 0.01%, #F54E60 100%);
		border-bottom: 6px solid #C84856;
		transition: all 0.5s;
		margin-bottom: 0!important;
		&:hover {
			height: 54px;
			border: 0 solid #C84856;
			transition: all 0.5s;
		}
		@media (max-width: 500px) {
			width: auto;
			padding: 10px 20px;
		}
	}
	&.btn__flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(20.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}
	&.btn__flare_infinite {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:hover {
			color: #fff;
		}
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) ;
			animation: sheen 1s infinite;

		}
		&.active {
			&:before {
		    	left: 110%;
				transition: all 0.5s ease-in-out;
			}
		}

	}	
}

.btn_to_top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn_to_top_content {
		width: 50px;
		height: 50px;
		background-color: #C2C2C2;
		border-radius: 100%;
	}
	.btn_to_top_text {
		padding-top: 1rem;
		display: block;
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: bold;
		color: #C2C2C2;
		letter-spacing: 0px;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}






