.footer {
	background: #F9909C;
	.footer_span_first {
		font-size: 1.8rem;
		line-height: 21px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	.footer_span_second {
		font-size: 1.6rem;
		line-height: 19px;
		color: #FFFFFF;
	}
}