.calc {
	padding-top: 18rem;
	background: linear-gradient(180deg, #FFFFFF 0%, #DCECFF 100%);
	.calc__header {
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 130%;
		color: #04183D;
	}
	.calc__price {
		font-weight: 600;
		font-size: 3.6rem;
		line-height: 130%;
		color: #338BFF;
	}
	.calc__value {
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 130%;
		color: #04183D;
	}
}