/* INCLUD SASS */
@import "reset/_reset.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "default/_default.scss";
@import "library/_animate.css";
//@import "library/_jquery.fancybox.min.css";

@import 'header/_header.scss';
@import "button/_button.scss";
@import "form/_form.scss";
@import "modalWindow/_modal.scss";
@import "calc/_calc.scss";
@import "footer/_footer.scss";


.welcome {
	background: url("../img/welcome.jpg") no-repeat;
	background-size: cover;
	min-height: 100vh;
	p {
		margin: 24px 0;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 130.04%;
		color: #FFFFFF;
	}
}
.driver {
	.driver_doc {
		position: relative;
		display: inline-block;
		span {
			position: absolute;
			bottom: 7%;
			left: 0; right: 0;
			text-align: center;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 2.5rem;
			line-height: 130.04%;
			color: #FFFFFF;
		}
	}
	@media (max-width: 991px) {
		p {
			text-align: center;
		}
	}
}
.step {
	padding: 60px 0 0 0;
	p {
		position: relative;
	}
	.step_left {
		p {
			text-align: right;
			padding-right: 26px;
			&:before {
				position: absolute;
				display: block;
				content: "";
				right: 0px;
				top: 2px;
				width: 20px; height: 20px;
				border: 2px solid #F54E60;
				border-radius: 100%;
			}
		}
	}
	.step_right {
		p {
			text-align: left;
			padding-left: 26px;
			&:before {
				position: absolute;
				display: block;
				content: "";
				left: 0px;
				top: 2px;
				width: 20px; height: 20px;
				border: 2px solid #F54E60;
				border-radius: 100%;
			}
		}
	}
	.step__center {
		margin: 120px 0;
	}
	@media (max-width: 991px) {
		.step__center {
			margin: 10px 0!important;
		}
		p {
			text-align: left!important;
			padding-left: 26px;
			&:before {
				position: absolute;
				display: block;
				content: "";
				left: 0px!important;
				top: 2px;
				right: unset!important;
				width: 20px; height: 20px;
				border: 2px solid #F54E60;
				border-radius: 100%;
			}
		}
		.step_mod_1 {
			order: 1;
		}
		.step_mod_2 {
			order: 2;
		}
	}
}
.question {
	background: url("../img/question.jpg") no-repeat;
	background-position: center top;
	height: 831px;
	h2 {
		color: #fff;
	}
	.card-header {
		padding: 0!important;
	}
	.card {
		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		border-radius: 10px!important;
	}
	.btn-link {
		background: #fff;
		border: none;
		width: 100%;
		height: 100%;
		padding: 20px;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 120%;
		text-align: center;
		color: #33302E;
		text-decoration: none!important;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			outline: unset;
		}
	}
}
.feadback {
	padding-top: 60px;
}
.map {
	padding-top: 60px;
	.map_first {
		padding: 30px;
	}
	span {
		font-size: 18px;
		line-height: 120%;
		color: #33302E;
	}
	.row {
		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		border-radius: 10px 0px 0px 10px;
		@media (max-width: 991px) {
			border-radius: 0px;

		}
	}	
}
.clients {
	@media (max-width: 991px) {
		padding-bottom: 0px!important;
		.clients__content {
			flex-direction: column;
			img {
				margin-bottom: 20px;
				-webkit-filter: grayscale(0%)!important;
				-moz-filter: grayscale(0%)!important;
				-ms-filter: grayscale(0%)!important;
				-o-filter: grayscale(0%)!important;
				filter: grayscale(0%)!important;
			}
		}
	}
	.clients__content {
		img {
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		a:hover {
			img {
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
				filter: grayscale(0%);
			}
		}
	}
}
.video__circle {
	width: 200px;
	height: 200px;
	position: absolute;
	right: 0;
	top: 0;
	.video__circle__content {
		width: 100%;
		height: 100%;
		position: relative;
		.video__circle_3 {
			position: absolute;
			left: 67px;
			top: 67px;
			width: 66px;
			height: 66px;
			border: 2px solid #B3F1F6;
			border-radius: 100%;
			opacity: 0;
			animation: circle 2s infinite ease-in-out;
		}
		.video__circle_2 {
			position: absolute;
			left: 45px;
			top: 45px;
			width: 110px;
			height: 110px;
			border: 7px solid #B3F1F6;
			border-radius: 100%;
			opacity: 0;
			animation: circle 2.2s infinite ease-in-out;
		}
		.video__circle_1 {
			position: absolute;
			left: 0;
			top: 0;
			width: 200px;
			height: 200px;
			border: 25px solid #B3F1F6;
			border-radius: 100%;
			opacity: 0;
			animation: circle 2.4s infinite ease-in-out;
		}
		.video__circle_img {
			position: absolute;
			top: 80px;
			left: 86px;
			cursor: pointer;
		}
	}
}
@keyframes circle {
	50% { opacity: 1; }
}
.deksis {
	span {
		font-size: 1.8rem;
		line-height: 150%;
		color: #FFFFFF;
	}
}
.modal-content {
	button {
		width: 50px;
		font-size: 3.6rem;
	}
	.btn_red {
		font-size: 2rem;
	}
}
.modal-body form {
	padding: 10px;
}
.card-body {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */


	color: #000000;
}
.point {
	@media (max-width: 991px) {
		padding-bottom: 0px!important;
	}
}