header {
	position: fixed;
	top: 0; right: 0; left: 0;
	z-index: 100;
	min-height: 100px;
	transition: all 0.5s;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	.nav-item {
		margin: 0 1rem;
		.nav-link {
			font-family: "Roboto";
			font-style: normal;
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 21px;
			color: #33302E!important;			
		}
		&:hover {
			.nav-link {
				color: #0687B3!important;
			}
		}
		&.active {
			.nav-link {
				color: #0687B3!important;
			}
		}		
	}
	.header__phone {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 21px;
		color: #0687B3;
	}
	.navbar-toggler {
		border: none;
	}
	@media (max-width: 991px) {
		min-height: unset;
		.navbar-collapse {
			order: 1;
		}
		.navbar-brand {
			img {
				width: 100px;
			}
		}
	}
	@media (max-width: 360px) {
		.header__phone {
			display: none;
		}
	}
}